---
interface Document {
  title: string;
  link: string;
}

const documents: (Document | string)[] = [
  { title: "Getting Started", link: "/docs/getting-started" },
  { title: "Installation", link: "/docs/installation" },
  "Basics",
  { title: "Configuration", link: "/docs/configuration" },
  { title: "Health Checking", link: "/docs/health-checking" },
  { title: "Load Balancing", link: "/docs/load-balancing" },
  { title: "Additional Configuration", link: "/docs/additional-configuration" },
  "Middlewares",
  { title: "Auth Forward", link: "/docs/auth-forward" },
  { title: "IP Allow", link: "/docs/ip-allow" },
  "Guides",
  { title: "Authelia Integration", link: "/docs/authelia-integration" },
];
---

<div class="pt-3 space-y-2">
  {
    documents.map((doc: Document | string) => {
      if (typeof doc === "string") {
        return (
          <h3 class="pt-6 text-xl leading-6 font-bold text-gray-900">{doc}</h3>
        );
      } else {
        return (
          <a
            href={doc.link}
            class="block mt-1 text-base leading-tight text-gray-900 hover:underline"
          >
            {doc.title}
          </a>
        );
      }
    })
  }
</div>
