---
import { Code } from 'astro/components';
import { Icon } from "astro-icon"


const config = `services:
  foo:
    host: foo.plam.dev
    redirect: "http://192.168.0.1:3000"
  bar:
    host: bar.plam.dev
    tls: true
    container:
      name: "/bar"
      network: "bar_default"
      port: 8080`
---
<div class="bg-white rounded-lg border border-gray-400 drop-shadow-lg">
    <div class="flex border-b border-gray-400 p-2">
        <Icon class="text-gray-400 mr-1" pack="ic" name="baseline-circle" size="12" />
        <Icon class="text-gray-400 mr-1" pack="ic" name="baseline-circle" size="12" />
        <Icon class="text-gray-400" pack="ic" name="baseline-circle" size="12" />
    </div>
    <div class="rounded p-4">
        <Code theme="github-light" code={config} lang="yaml" />
    </div>
</div>
