---
import Navbar from "../components/Navbar.astro";
import { SEO } from "astro-seo";
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <SEO
      title={title}
      description="A reverse proxy focused on simplicity and Docker integration."
      openGraph={{
        basic: {
          title:
            "voltproxy is a reverse proxy that helps you manage and distribute incoming network traffic to multiple backend servers.",
          type: "image/png",
          image:
            "https://raw.githubusercontent.com/plamorg/voltproxy/main/voltproxy.png",
        },
      }}
      extend={{
        link: [{ rel: "icon", type: "image/svg+xml", href: "/favicon.svg" }],
      }}
    />
  </head>
  <body class="bg-gradient-to-b from-gray-100 to-gray-200 min-h-screen">
    <Navbar />
    <slot />
  </body>
</html>
